<div class="ui small modal reset_password">
  <i class="close icon"></i>
  <div class="header">
    Password Reset
  </div>

  <div id="loginForm">

    <form class="ui form">
      <div class="field">
        <label>Email</label>
        <input type="text" name="email" placeholder="email">
      </div>
      <button class="ui button" type="submit">Reset Password</button>
    </form>
  </div>

</div>
