<div id="footer">
  <div>
    <a id="footer_menu" href="/about_us" class="item">ABOUT US</a>
    <a id="footer_menu" href="/terms_conditions" class="item">TERMS & CONDITIONS</a>
    <a id="footer_menu" href="/shipping_returns" class="item">SHIPPING & RETURNS</a>
    <a id="footer_menu" href="/faq" class="item">FAQS</a>
  </div>

  <br>

  <p>&copy; 2016 Allthingsfrenchie, LLC.  All rights reserved</p>
</div>
