<div id="footer">

  <div id="newsletter_signup" class="ui three column very relaxed grid">

    <div class="column">
      <h4 class="ui horizontal divider header">
        <i class="mail icon"></i>
      </h4>


      <div id="join_social_medias" class="equal width row">
        <div class="column">
          <p id="footer_header">Join Us</p>
        </div>
        <div class="column">
          <a href="#">
            <i class="icon facebook square large"></i>
          </a>
          <a href="#">
            <i class="icon instagram large"></i>
          </a>
          <a href="#">
            <i class="icon pinterest square large"></i>
          </a>
        </div>
      </div>
      <div class="ui left icon action input">
        <i class="mail icon"></i>
        <input type="text" placeholder="Email Address">
        <div class="ui blue submit button">Join</div>
      </div>
    </div>

    <div id="customer_assistance" class="column">

      <h4 class="ui horizontal divider header">
        <i class="payment icon"></i>
      </h4>

      <p id="footer_header">Customer Assistance</p>
      <a id="footer_links" href="#"><p>Customer Assitance</p></a>
      <a id="footer_links" href="#"><p>Email Us</p></a>
      <a id="footer_links" href="#"><p>Payment Methods</p></a>
      <a id="footer_links" href="#"><p>Tel 347-439-2567</p></a>
    </div>

    <div id="footer_order" class="column">

      <h4 class="ui horizontal divider header">
        <i class="shop icon"></i>
      </h4>

      <p id="footer_header">Orders</p>
      <a id="footer_links" href="#"><p>Track My Orders</p></a>
      <a id="footer_links" href="#"><p>Returns</p></a>
      <a id="footer_links" href="#"><p>Shipping</p></a>
      <a id="footer_links" href="#"><p>Terms & Conditions</p></a>
    </div>

  </div>

  <!-- <div>
    <a id="footer_menu" href="/about_us" class="item">ABOUT US</a>
    <a id="footer_menu" href="/terms_conditions" class="item">TERMS & CONDITIONS</a>
    <a id="footer_menu" href="/shipping_returns" class="item">SHIPPING & RETURNS</a>
    <a id="footer_menu" href="/faq" class="item">FAQS</a>
  </div> -->

  <br>

  <p>&copy; 2016 Allthingsfrenchie, LLC.  All rights reserved</p>
</div>
