<div id="header">
  <div id="logo">
    <img class="ui centered medium image" src="images/logo/allthingsfrenchie_logo.png" alt="Allthingsfrenchie Logo">
  </div>
  <div id="headermenu" class="ui borderless main six item menu">
    <!-- Menu 1 - Home -->
    <div class="item">
      <a id="menu_button" href="/" class="item ui button">Home</a>
    </div>

    <!-- Menu 2 - New Arrivals -->
    <div class="item">
      <a id="menu_button" href="/new" class="item ui button">New <br> Arrivals</a>
    </div>

    <!-- Menu 3 - Frenchie's Closet -->
    <div class="item">
      <a id="menu_button" href="/frenchies" class="item ui button">Frenchie <br> Closet</a>
    </div>

    <!-- Menu 4 - Friend's Closet -->
    <div class="item">
      <a id="menu_button" href="/friends" class="item ui button">Friends <br> Closet</a>
    </div>

    <!-- Menu 5 - Frenchie Toast -->
    <div class="item">
      <a id="menu_button" href="/toast" class="item ui button">Frenchie <br> Toast</a>
    </div>

    <!-- Menu 6 - Sign_in/Sign_out -->
    <div class="right menu">
      <a id="login_button" class="item ui button">Sign <br> In</a>
    </div>
  </div>

  <!-- login -->
  <div class="ui small modal login">
    <i class="close icon"></i>
    <div class="header">
      Login
    </div>

    <div id="loginForm">

      <img id="social_media_login_button" src="images/login/facebook_login.png" alt="facebook login" class="ui medium rounded image">

      <br>

      <img id="social_media_login_button" src="images/login/google+_login.png" alt="googgle + login" class="ui medium rounded image">

      <br>

      <img id="social_media_login_button" src="images/login/twitter_login.png" alt="" class="ui medium rounded image">

      <br>

      <div class="ui divider"></div>

      <br>

      <form class="ui form">
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" placeholder="email">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" name="password" placeholder="password">
        </div>
        <button class="ui button" type="submit">Sign In</button>
      </form>
    </div>

  </div>


</div>
