<div id="header">
  <div id="logo">
    <img class="ui centered medium image" src="images/logo/allthingsfrenchie_logo.png" alt="Allthingsfrenchie Logo">
  </div>
  <div id="headermenu" class="ui borderless main six item menu">
    <!-- Menu 1 - Home -->
    <div class="item">
      <a id="menu_button" href="/" class="item ui button">Home</a>
    </div>

    <!-- Menu 2 - New Arrivals -->
    <div class="item">
      <a id="menu_button" href="/new" class="item ui button">New <br> Arrivals</a>
    </div>

    <!-- Menu 3 - Frenchie's Closet -->
    <div class="item">
      <a id="menu_button" href="/frenchies" class="item ui button">Frenchie <br> Closet</a>
    </div>

    <!-- Menu 4 - Friend's Closet -->
    <div class="item">
      <a id="menu_button" href="/friends" class="item ui button">Friends <br> Closet</a>
    </div>

    <!-- Menu 5 - Frenchie Toast -->
    <div class="item">
      <a id="menu_button" href="/toast" class="item ui button">Frenchie <br> Toast</a>
    </div>

    <!-- Menu 6 - Sign_in/Sign_out -->
    <div class="right menu">
      <a id="login_button" class="item ui button">Sign In</a>
    </div>
  </div>

  <!-- login -->
  <%- include ../partials/user_auth/login %>

  <!-- signup -->
  <%- include ../partials/user_auth/sign_up %>

  <!-- password reset -->
  <%- include ../partials/user_auth/forget_password %>

</div>
