<div>
  <h1 id="new_arrival_main_title">New Arrivals</h1>
</div>

<div id="arrival_container" class="ui three column centered grid">

  <div class="column">
    <a href="#">
      <div class="ui segment">
        <img id="new_arrivals_long" src="/images/newarrivals/merci_bouquet_her_1500.jpg" alt="merci_bouquet_her">
        <p id="new_arrival_title">Meri Bouquet (Her)</p>
      </div>
    </a>
  </div>

  <div class="column">
    <a href="#">
      <div class="ui segment">
        <img id="new_arrivals_short" src="/images/newarrivals/about_faces_3_1500.jpg" alt="about_faces">
        <p id="new_arrival_title">About Faces</p>
      </div>
    </a>
  </div>

  <div class="column">
    <a href="#">
      <div class="ui segment">
        <img id="new_arrivals_long" src="/images/newarrivals/merci_bouquet_his_1500.jpg" alt="merci_bouquet_his">
        <p id="new_arrival_title">Meri Bouquet (His)</p>
      </div>
    </a>
  </div>

</div>


<div id="arrival_container" class="ui three column centered grid">

  <div class="column">
    <a href="#">
      <div class="ui segment">
        <img id="new_arrivals_short" src="/images/newarrivals/don't_piss_me_off_2_1500.jpg" alt="don't_piss_me_off">
        <p id="new_arrival_title">Don't Piss Me Off</p>
      </div>
    </a>
  </div>

  <div id="new_arrival_negative_margin" class="column">
    <a href="#">
      <div class="ui segment">
        <img id="new_arrivals_long" src="/images/newarrivals/wear_there_everywhere_1500.jpg" alt="wear_there_everywhere">
        <p id="new_arrival_title">Wear There Everywhere</p>
      </div>
    </a>
  </div>

  <div class="column">
    <a href="#">
      <div class="ui segment">
        <img id="new_arrivals_short" src="/images/newarrivals/bulldog_under_cover_13_1500.jpg" alt="bulldog_under_cover">
        <p id="new_arrival_title">Bulldog Under Cover</p>
      </div>
    </a>
  </div>

</div>
