<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>

  <!-- Header Menu partial -->
  <%- include ../partials/header %>

  <div id="about_us">

    <h2>About US</h2>

  </div>

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
