<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>

  <!-- Header Menu partial -->
  <%- include ../partials/header %>

  <div id="new_arrivals">

    <!-- Footer partial -->
    <%- include ../partials/new_arrival/new_arrival_main %>

  </div>

  <!-- Footer partial -->
  <%- include ../partials/footer %>
</body>
</html>
